<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <ba-card cardTitle="My Contract" baCardClass="with-scroll table-panel">
                <table class="table table-condensed" style="font-size: 16px">
                    <tbody>
                    <tr>
                        <td>
                            <br><b>Project Name</b>
                        </td>
                        <td>
                            <br>{{contract.projectName}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><b>Type</b>
                        </td>
                        <td>
                            <br>{{contract.type}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><b>Client</b>
                        </td>
                        <td>
                            <br>{{contract.client.username}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><b>Freelancer</b>
                        </td>
                        <td>
                            <br>{{contract.freelancer.username}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><b>Deadline</b>
                        </td>
                        <td>
                            <br>{{contract.deadline}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><b>Amount</b>
                        </td>
                        <td>
                            <br>{{contract.amount}} {{contract.asset}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><b>Description</b>
                        </td>
                        <td>
                            <br>{{contract.description}}
                        </td>
                    </tr>
                    <tr *ngIf="hasMilestones">
                        <td><br><b>Milestones</b></td>
                        <td><br>
                            <table class="table table-condensed" style="font-size: 16px">
                                <thead>
                                <th></th>
                                <th>Payment</th>
                                <th>Deadline</th>
                                <th>Task</th>
                                <th>Status</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let milestone of contract.milestoneValues">
                                    <td>
                                        <br>{{milestone.name}}
                                    </td>
                                    <td>
                                        <br>{{milestone.value}}%
                                    </td>
                                    <td>
                                        <br>{{milestone.deadline}}
                                    </td>
                                    <td>
                                        <br>{{milestone.task}}
                                    </td>
                                    <td>
                                        <br>{{milestone.state}}
                                    </td>
                                </tr>
                                <tr *ngIf="!isCompleted">
                                    <td colspan=5 *ngIf="contract.status.milestone_state=='Uncompleted' && userType=='Freelancer'">
                                        <br>
                                        <button class="btn btn-primary  btn-sm float-sm-right" type="button"
                                                (click)="stateBtnClicked('Working')">Start Working
                                        </button>
                                        <br><br>
                                    </td>
                                    <td colspan=5 *ngIf="contract.status.milestone_state=='Working' && userType=='Freelancer'">
                                        <br>
                                        <button class="btn btn-primary  btn-sm float-sm-right" type="button"
                                                (click)="stateBtnClicked('Reviewing')">Work Completed
                                        </button>
                                        <br><br>
                                    </td>
                                    <td colspan=5 *ngIf="contract.status.milestone_state=='Reviewing' && userType=='QA'">
                                        <br>
                                        <button class="btn btn-primary  btn-sm float-sm-right" style="width: 110px"
                                                type="button" (click)="stateBtnClicked('Completed')">
                                            QA Successful
                                        </button>
                                        <br>
                                        <button class="btn btn-primary  btn-sm float-sm-right" style="width: 110px"
                                                type="button" (click)="stateBtnClicked('Working')">
                                            QA Failed
                                        </button>
                                    </td>
                                    <td colspan=5 *ngIf="contract.status.milestone_state=='Reviewing' && userType=='Client' && !hasLinkedContract">
                                        <br>
                                        <button class="btn btn-primary  btn-sm float-sm-right" style="width: 110px"
                                                type="button" (click)="stateBtnClicked('Completed')">
                                            QA Successful
                                        </button>
                                        <br>
                                        <button class="btn btn-primary  btn-sm float-sm-right" style="width: 110px"
                                                type="button" (click)="stateBtnClicked('Working')">
                                            QA Failed
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ba-card>
            <button class="btn btn-primary" (click)="goBack()">Back</button>
            <br><br><br><br>
        </div>
    </div>
</div>

