<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ba-card cardTitle="Contract Rules"
                     baCardClass="with-scroll table-panel">
                <div>
                    <p>The following rules will apply to all the contracts,</p><br>

                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <h4>Redo requests</h4>
                            <div class="form-group">
                                <p class="d-inline-block">A client can apply for a redo</p>
                                <div class="d-inline-block col-sm-2">
                                    <select [(ngModel)]="contractRulesModel.redo" [ngModelOptions]="{standalone: true}"
                                            class="form-control"
                                            name="redo" id="redo">
                                        <option *ngFor="let redo of redos" [ngValue]="redo">
                                            {{redo}}
                                        </option>
                                    </select>
                                </div>
                                <p class="d-inline-block">times.</p>
                            </div>
                            <br>
                            <h4>Freelancer fail all redo requests</h4>
                            <div class="form-group">
                                <p class="d-inline-block">If a freelancer fail all the redo requests after QA
                                    testing and project was QA tested by the client, freelancer will get paid </p>
                                <div class="d-inline-block col-sm-2">
                                    <input [(ngModel)]="contractRulesModel.freelancer_rf_payment_percentage"
                                           [ngModelOptions]="{standalone: true}"
                                           class="form-control" type="number"
                                           name="freelancer_rf_payment" id="freelancer_rf_payment">
                                </div>
                                <p class="d-inline-block">percent</p>
                                <p class="d-inline-block"> of the current milestone payment and the contract will be
                                    cancelled.</p>
                                <p>If the project has a separate QA,</p>
                                <p>QA can decide the completed percentage of the current
                                    milestone. That percentage from the current milestone payment will be paid
                                    to the freelancer.</p>
                                <p>Both QA and Freelancer contracts will be automatically cancelled.</p>
                            </div>
                            <br>
                            <h4>Freelancer fail to meet a deadline</h4>
                            <div class="form-group">
                                <p class="d-inline-block">If a freelancer fail to meet a milestone deadline,
                                    freelancers's milestone pay will be reduced by </p>
                                <div class="d-inline-block col-sm-2">
                                    <input [(ngModel)]="contractRulesModel.freelancer_pay_reduce_percentage"
                                           [ngModelOptions]="{standalone: true}"
                                           class="form-control" type="number"
                                           name="freelancer_pay_reduce" id="freelancer_pay_reduce">
                                </div>
                                <p class="d-inline-block">percent for each extended day.</p>
                            </div>
                            <div class="form-group">
                                <p class="d-inline-block">If a freelancer fail to meet a milestone deadline for a
                                    project worth over $</p>
                                <div class="d-inline-block col-sm-2">
                                    <input [(ngModel)]="contractRulesModel.project_worth_mark"
                                           [ngModelOptions]="{standalone: true}" class="form-control" type="number"
                                           name="project_worth_mark1" id="project_worth_mark1">
                                </div>
                                <p class="d-inline-block"> and don't submit work done after </p>
                                <div class="d-inline-block col-sm-2">
                                    <input [(ngModel)]="contractRulesModel.freelancer_contract_cancel_days_high"
                                           [ngModelOptions]="{standalone: true}" class="form-control" type="number"
                                           name="freelancer_contract_cancel_high" id="freelancer_contract_cancel_high">
                                </div>
                                <p class="d-inline-block">days, contract will be automatically cancelled.</p>
                            </div>
                            <div class="form-group">
                                <p class="d-inline-block">If a freelancer fail to meet a milestone deadline for a
                                    project worth less than $</p>
                                <div class="d-inline-block col-sm-2">
                                    <input [(ngModel)]="contractRulesModel.project_worth_mark"
                                           [ngModelOptions]="{standalone: true}" class="form-control" type="number"
                                           name="project_worth_mark2" id="project_worth_mark2">
                                </div>
                                <p class="d-inline-block"> and don't submit work done after </p>
                                <div class="d-inline-block col-sm-2">
                                    <input [(ngModel)]="contractRulesModel.freelancer_contract_cancel_days_low"
                                           [ngModelOptions]="{standalone: true}" class="form-control" type="number"
                                           name="freelancer_contract_cancel_low" id="freelancer_contract_cancel_low">
                                </div>
                                <p class="d-inline-block">days, contract will be automatically cancelled.</p>
                                <br><br>
                                <p>Freelancer won't get paid for the current milestone.</p>
                                <p>If freelancer contract has a linked QA contract, that QA contract will also be
                                    cancelled. QA won't be paid for the current milestone either.</p>
                            </div>
                            <br>
                            <h4>QA fail to meet a deadline</h4>
                            <div class="form-group">
                                <p class="d-inline-block">If a QA fail to meet a milestone deadline,
                                    freelancers's milestone pay will be reduced by </p>
                                <div class="d-inline-block col-sm-2">
                                    <input [(ngModel)]="contractRulesModel.qa_pay_reduce_percentage"
                                           [ngModelOptions]="{standalone: true}"
                                           class="form-control" type="number" name="qa_pay_reduce" id="qa_pay_reduce">
                                </div>
                                <p class="d-inline-block">percent for each extended day.</p>
                            </div>
                            <div class="form-group">
                                <p class="d-inline-block">If a QA fail to meet a milestone deadline for a
                                    project worth over $</p>
                                <div class="d-inline-block col-sm-2">
                                    <input [(ngModel)]="contractRulesModel.project_worth_mark"
                                           [ngModelOptions]="{standalone: true}" class="form-control" type="number"
                                           name="project_worth_mark3" id="project_worth_mark3">
                                </div>
                                <p class="d-inline-block">and don't submit work done after </p>
                                <div class="d-inline-block col-sm-2">
                                    <input [(ngModel)]="contractRulesModel.qa_contract_cancel_days_high"
                                           [ngModelOptions]="{standalone: true}"
                                           class="form-control" type="number"
                                           name="qa_contract_cancel_high" id="qa_contract_cancel_high">
                                </div>
                                <p class="d-inline-block">days, contract will be automatically cancelled.</p>
                            </div>
                            <div class="form-group">
                                <p class="d-inline-block">If a QA fail to meet a milestone deadline for a
                                    project worth less than $</p>
                                <div class="d-inline-block col-sm-2">
                                    <input [(ngModel)]="contractRulesModel.project_worth_mark"
                                           [ngModelOptions]="{standalone: true}" class="form-control" type="number"
                                           name="project_worth_mark4" id="project_worth_mark4">
                                </div>
                                <p class="d-inline-block">and don't submit work done after </p>
                                <div class="d-inline-block col-sm-2">
                                    <input [(ngModel)]="contractRulesModel.qa_contract_cancel_days_low"
                                           [ngModelOptions]="{standalone: true}"
                                           class="form-control" type="number"
                                           name="qa_contract_cancel_low" id="qa_contract_cancel_low">
                                </div>
                                <p class="d-inline-block">days, contract will be automatically cancelled.</p>
                                <br><br>
                                <p class="d-inline-block">QA won't get paid for the current milestone.</p>
                                <p>After cancellation of the QA contract, clients can decide to hire a new QA or QA the
                                    project themselves.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </ba-card>
            <br><br>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <button class="btn btn-primary float-right" (click)="saveRules()">Save Rules</button>
            </div>
            <br><br><br><br>
        </div>
    </div>
</div>