<div class="container">
    <div class="row">

        <div class="col-sm-12">


            <div class="col-sm-12">
                <ba-card cardTitle="My Posted Projects" baCardClass="with-scroll table-panel">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Project</th>
                                <th>Status</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projects">
                                <td>
                                    <br>
                                    <font size="5" color="#209e91"><i class="fa fa-product-hunt"></i></font>
                                </td>
                                <td>
                                    <br>
                                    <a style="cursor:pointer" (click)="goToProject(project.project_id)">
                                        <h3>{{project.projectName}}</h3>
                                    </a>
                                    <p>{{project.description}} </p>
                                    <a *ngIf="project.skills">
                                        <button *ngFor="let skill of project.skills" type="button" class="btn btn-default btn-sm"
                                         style="background-color: #776e6e;color: #ffffff;cursor:default;">{{skill}}</button>
                                    </a>
                                </td>
                                <td>
                                    <br>Open
                                </td>
                                <td><br>{{project.budget.min}}-{{project.budget.max}} {{project.budget.type}}</td>
                                <td>
                                    <br><button (click)="publishModalShow(project.project_id)" type="button" class="btn btn-primary  btn-sm">Publish</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ba-card>
            </div>

        </div>
    </div>
</div>