<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

      <div class="container">
          <div class="row">
              <ba-multi-checkbox [(ngModel)]="checkboxModel" [propertiesMapping]="checkboxPropertiesMapping"></ba-multi-checkbox>
            </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-md pull-right" (click)="onSubmit()">Publish</button>
         </div>

      </div>
  </div>
</div>