<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

      <div class="container">

          <div class="form-group">


            <label for="inputUserType" class="control-label">Select Reuired User Type</label>
            <div>
              <select [(ngModel)]="project_utype.publish_utype" [ngModelOptions]="{standalone: true}" class="form-control" id="user_type">
                <option [ngValue]="null" selected>Odaberi tip odluke</option>  
                <option *ngFor="let user_type of user_types; let i = index" [ngValue]="user_type.value">
                      {{user_type.name}}
                  </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-md pull-right" (click)="onSubmit()">Publish</button>
         </div>

      </div>
  </div>
</div>