<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     <div *ngIf="method=='Payment'">
     
    
    <div class="paymentCont">
      <div class="headingWrap">
          <h3 class="headingTop text-center">Select Your {{method}} Method</h3>	
          <p class="text-center">Current support only PayPal</p>
      </div>  
      <div class="paymentWrap">
        <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
            <div class="row">
                <div class="col-md-12">
            <form #form class="form-inline" name="_xclick" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_xclick">
              <input type="hidden" name="business" value="blockwork.cse@gmail.com">
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="item_name" value="{{address}}">
              <input name="item_number" type="hidden" value="0010"/>
              <input type="hidden" name="amount" value="{{amount}}">
              <input type="hidden" name="first_name" value="Charuni">
              <input type="hidden" name="address" value="{{address}}">
              <input type="hidden" name="email" value="{{useremail}}">
              <input type="hidden" name="return" value="http://localhost:4200/#/pages/users/wallet/{{profile_id}}" />
              <input type="hidden" name="cancel_return" value="http://localhost:4200/#/pages/dashboard" />
              <input type="hidden" name="custom" value={{address}}>
              <!--pass your notification URL
                https://www.paypal.com/cgi-bin/webscr
              -->
              <input name="notify_url" value="http://blockwork.projects.mrt.ac.lk/payment.php" type="hidden"><br/><br/>
              <input (click)="form.submit()" type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_credit_logo_h_200x51.png" border="0"
                          name="submit" alt="Make payments with PayPal - it's fast, free and secure!"/>
              <img alt="" width="1" height="1"
                          src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            </form>
          </div>
          <!--
            <div class="col-md-12">
                <img style=" margin-top:50px;width: 200px;height: 100px;" src="assets/img/py-logo.svg" alt="James Lee" />
            </div>
            -->
        </div>
             
            </div>        
      </div>
    </div>
  </div>
  <div *ngIf="method=='Transfer'">
      <div class="paymentCont">
          <div class="headingWrap">
              <h3 class="headingTop text-center">Transfer Money to the PayPaly Account</h3>	
              <div class="alert alert-danger">
                <p><strong>*</strong>   This process can take 5 to 6 minutes to be processed. <strong>Please refresh you borwer and check.</strong> 
    
                </p>
            </div>
              <p class="text-center">Available Balance: {{balance}} USD</p>
          </div>  
      </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
        <div class="form-group row" [ngClass]="{'has-error': (!qty.valid && qty.touched), 'has-success': (qty.valid && qty.touched)}">
          <label for="inputuserName3" class="col-sm-2 control-label">Amount</label>
  
          <div class="col-sm-10">
            <input [formControl]="qty" type="number" class="form-control" id="inputuserName3" min=0 max="{{balance}}">
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
            <label for="inputEmail3" class="col-sm-2 control-label">Paypal Email</label>
    
            <div class="col-sm-10">
              <input [formControl]="email"  type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <h5 class="text-danger">{{error}}</h5>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Transfer Money to PayPal</button>
            </div>
          </div>
          <h5 class="text-success">{{success}}</h5>
    </form>
  </div>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary confirm-btn" (click)="closeModal()">Save changes</button>-->
  </div>
</div>