<div class="widgets">
<div class="row">
    <div class="col-md-3"> 
        <img class="profile-image border-radius: 50%;img-responsive pull-left" style="margin-left: 50px; width: 200px;height: 200px;border-radius: 50%;" src="assets/img/app/profile/Nasta.png" alt="James Lee" />
    </div>
    <div class="col-md-8"> 
        <h1>Charuni Kaushalya {{user?.name}}</h1>
        <h2>Web App Developer</h2>  
        <p>Member since September, 2015</p>
        <p>0 Recommendations</p> 
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>                   
            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-github-alt"></i></a></li>                  
            <li class="list-inline-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>  

        </ul> 
        <a class="btn btn-success btn-xm pull-right" href="http://themes.3rdwavemedia.com/" target="_blank">Contact Me</a> 
    </div>
<br/><br/>

</div>
</div><hr><br/><br/>
<div class="widgets sections-wrapper">
    <div class="row">
      <br/><br/>
        <div class="primary col-sm-12 col-xs-12 col-md-8 col-xl-8 col-lg-8">
            <section class="about section">
            <ba-card cardTitle="About me" baCardClass="with-scroll">
                <p>Write a brief intro about yourself. Write a brief intro about yourself.Write a brief intro about yourself.Write a brief intro about yourself.Write a brief intro about yourself.LWrite a brief intro about yourself.Write a brief intro about yourself.Write a brief intro about yourself.</p> <br/>   
     
    <p>It's a good idea to include your personal interests and hobbies as well. It's a good idea to include your personal interests and hobbies as well. It's a good idea to include your personal interests and hobbies as well. It's a good idea to include your personal interests and hobbies as well. It's a good idea to include your personal interests and hobbies as well. It's a good idea to include your personal interests and hobbies as well. It's a good idea to include your personal interests and hobbies as well. </p>
            </ba-card>
            </section><!--//section-->

            <section class="project section">
            <ba-card cardTitle="Latest Projects" baCardClass="with-scroll">
            <div class="row">
            <div class="col-md-4"> 
                <img  src="assets/img/app/project/project-3.png" alt="project name" class="img-thumbnail" width="304" height="236"/>
            </div>
            <div class="col-md-8"> 
                <h4 class="title"><a href="#" target="_blank">DevStudio - Designed for Web Development Agencies</a></h4>
                <p>You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                <p><a class="more-link" href="#" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
            </div>
            </div>
            <div class="row">
            <div class="col-md-4"> 
                <img  src="assets/img/app/project/project-2.png" alt="project name" class="img-thumbnail" width="304" height="236"/>
            </div>
            <div class="col-md-8"> 
                <h4 class="title"><a href="#" target="_blank">Delta - Designed for Mobile Apps</a></h4>
                <p>You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                <p><a class="more-link" href="#" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
            </div>
            </div>
            </ba-card>
            </section><!--//section-->
            
            <section class="experience section">
            <ba-card cardTitle="Work Experience" baCardClass="with-scroll">
                <ul class="list-unstyled">
                    <li><h4 class="title">Co-Founder & Lead Developer - <span class="place"><a href="#">Startup Hub</a></span> <span class="year">(2014 - Present)</span></h4>
                    <div class=""><p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p></div></li><br/>
                    <li><h4 class="title">Software Engineer - <span class="place"><a href="#">Google</a></span> <span class="year">(2013 - 2014)</span></h4><div class=""><p>Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p></div></li>
                </ul>
            </ba-card>
            </section><!--//section-->
            
            <section class="review section">
            <ba-card cardTitle="Reviews" baCardClass="with-scroll">
                <ul class="list-unstyled">
                    <li><h4 class="title">Co-Founder & Lead Developer - <span class="place"><a href="#">Startup Hub</a></span> <span class="year">(2014 - Present)</span><span class="pull-right"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span></h4>

                    <div class=""><p>Add your revview here.Add your revview here.Add your revview here.Add your revview here.Add your revview here.Add your revview here.Add your revview here.Add your revview here.Add your revview here.Add your revview here. </p></div></li><br>
                    <li><h4 class="title">Software Engineer - <span class="place"><a href="#">Google</a></span> <span class="year">(2013 - 2014)</span><span class="pull-right"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span></h4><div class=""><p>Add your revview here.Add your revview here.Add your revview here.Add your revview here.Add your revview here.Add your revview here.Add your revview here.Add your revview here.</p></div></li>
                </ul>  
            </ba-card>
            </section><!--//section-->
            
          
        </div><!--//primary-->

        <div class="secondary col-md-4 col-sm-12 col-xs-12">

            <aside class="info aside section">
            <ba-card cardTitle="Basic Information" baCardClass="with-scroll">
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker"></i><span class="sr-only"> Location:</span> Colombo, Srilanka</li><hr>
                    <li><i class="fa fa-envelope-o"></i><span class="sr-only"> Email:</span><a href="#">   {{user?.email}}</a></li><hr>
                    <li><i class="fa fa-link"></i><span class="sr-only"> Website:</span><a href="#"> http://www.website.com</a></li>
                </ul>
            </ba-card>
            </aside><!--//aside-->

            <aside class="skills aside section">
            <ba-card cardTitle="Skills" baCardClass="with-scroll">
                <ul class="list-unstyled">
                    <li>Java<div class="text-success pull-right">12%<i class="fa fa-level-up"></i></div></li><hr>
                    <li>Python<div class="text-success pull-right">15%<i class="fa fa-level-up"></i></div></li><hr>
                    <li>Java Script<div class="text-success pull-right">18%<i class="fa fa-level-up"></i></div></li><hr>
                    <li>C++<div class="text-danger pull-right">17%<i class="fa fa-level-down"></i></div></li><hr>
                    <li>Microsoft Office<div class="text-danger pull-right">10%<i class="fa fa-level-down"></i></div></li><hr>
                    <li>Visual &amp; Studio<div class="text-success pull-right">14%<i class="fa fa-level-up"></i></div></li><hr>
                    <li class="last">Erlang<div class="text-success pull-right">5%<i class="fa fa-level-up"></i></div></li> 
                </ul>
            </ba-card>
            </aside><!--//aside-->

            <aside class="education aside section">
            <ba-card cardTitle="Education" baCardClass="with-scroll">
                <ul class="list-unstyled">
                    <li><h5 class="title"><i class="lnr lnr-graduation-hat"></i><a href="#"> MSc Psychology and Computer Science</a></h5>
                    <h6 class="university">University College London <span class="year">(2011-2012)</span></h6></li><hr>
                    <li><h5 class="title"><i class="lnr lnr-graduation-hat"></i><a href="#"> BSc Computer Science</a></h5>
                    <h6 class="university">University of Moratuwa <span class="year">(2008-2011)</span></h6></li>
                </ul>
            </ba-card>
            </aside><!--//aside-->

            <aside class="languages aside section">
            <ba-card cardTitle="Languages" baCardClass="with-scroll">
                <ul class="list-unstyled">
                    <li class="item">
                        <span class="title"><strong>English:</strong></span>
                        <span class="level">Native Speaker </span>
                    </li><!--//item--><hr>
                    <li class="item">
                        <span class="title"><strong>Spanish:</strong></span>
                        <span class="level">Professional Proficiency</span>
                    </li><!--//item-->
                </ul>
            </ba-card>
            </aside><!--//aside-->

            <aside class="verifications section">
            <ba-card cardTitle="Verifications" baCardClass="with-scroll">
                <ul class="list-unstyled">
                    <li class="item">
                        <h5 class="title"><i class="fa fa-facebook"></i>   Facebook Connected</h5> 
                    </li><!--//item--><hr>
                    <li class="item">
                        <h5 class="title"><i class="fa fa-envelope"></i>    Email Verified</h5> 
                    </li><!--//item--><hr>
                    <li class="item">
                        <h5 class="title"><i class="fa fa-phone"></i>    Phone Verified</h5> 
                    </li><!--//item-->
                </ul>
            </ba-card>
            </aside><!--//aside-->

            <aside class="verifications section">
            <ba-card cardTitle="Verifications" baCardClass="with-scroll">
            </ba-card>
            </aside><!--//aside-->

                        
            
            <aside class="blog aside section">
                <div class="stats-info stats-info1">
                    <div class="panel-heading">
                        <h2 class="panel-title">My GitHub</h2>
                    </div>
                    <div id="rss-feeds" class="panel-body panel-body2">
                    <div id="github-graph" class="github-graph"></div><!--//github-graph-->
                   
                    <div id="feed" class="ghfeed">
                    </div><!--//ghfeed-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section--><br/><br/>

            <aside class="blog aside section">
                <div class="stats-info stats-info1">
                    <div class="panel-heading">
                        <h2 class="panel-title">Latest Blog Posts</h2>
                    </div>
                    <div id="rss-feeds" class="panel-body panel-body2">
                    <p>You can use Sascha Depold's <a href="https://github.com/sdepold/jquery-rss" target="_blank">jQuery RSS plugin</a> to pull in your blog post feeds.</p>

                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section--><br/><br/>
        </div><!--//secondary-->    
    </div><!--//row-->
</div><!--//masonry-->
<!-- github calendar plugin -->


   

