<div class="container">
    <div class="row">

        <div class="col-sm-12">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#active_bids">Active Bids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#cur_work">Current Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#past_work">Past Work</a>
                </li>
            </ul>
            <br>
            <div class="tab-content">
                <div id="active_bids" class="tab-pane active">
                    <div class="col-sm-12">
                        <ba-card cardTitle="Active Bids Details" baCardClass="with-scroll table-panel">
                            <div>
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Project Name</th>
                                            <th>Bids</th>
                                            <th>My Bid</th>
                                            <th>Average Bid</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let project of bid_projects">
                                            <td>
                                                <br>
                                                <font size="5" color="#209e91"><i class="fa fa-product-hunt"></i></font>
                                            </td>
                                            <td>
                                                <br>
                                                <a style="cursor:pointer" (click)="goToProject(project.project_id)">
                                                    <h3>{{project.projectName}}</h3>
                                                </a>
                                                <p>{{project.description}} </p>
                                                <a *ngIf="project.skills">
                                                    <button *ngFor="let skill of project.skills" type="button" class="btn btn-default btn-sm" style="background-color: #776e6e;color: #ffffff;cursor:default;">{{skill}}</button>
                                                </a>
                                            </td>
                                            <td><br>1</td>
                                            <td>
                                                <br>25 USD
                                            </td>
                                            <td><br>15 USD</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </ba-card>
                    </div>
                </div>
                <div id="cur_work" class="tab-pane fade">
                    <div class="col-sm-12">
                        <ba-card cardTitle="Active Bids Details" baCardClass="with-scroll table-panel">
                            <div>
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Project Name</th>
                                            <th>Client/Freelancer</th>
                                            <th>Status</th>
                                            <th>Deadline</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <font size="5" color="#209e91"><i class="fa fa-product-hunt"></i></font>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    <h3>Project Title</h3>
                                                </a>
                                                <p>Description Description Description Description </p>
                                            </td>
                                            <td>
                                                <div class="profile_img">
                                                    <span style="background:url(assets/images/1.jpg) no-repeat center"> </span>
                                                    <div class="user-name">
                                                        <p>Kanchana<span>Web Developer</span></p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Milestone 1</td>
                                            <td>12/12/2017</td>
                                            <td>
                                                <a href="#"><i class="lnr lnr-users"></i></a>
                                                <a href="#"><i class="lnr lnr-pencil"></i></a>
                                                <a href="#"><i class="lnr lnr-cross"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </ba-card>
                    </div>
                </div>
                <div id="past_work" class="tab-pane fade">
                    <div class="col-sm-12">
                        <ba-card cardTitle="Active Bids Details" baCardClass="with-scroll table-panel">
                            <div>
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Project Name</th>
                                            <th>Client/Freelancer</th>
                                            <th>Payments</th>
                                            <th>Rating</th>
                                            <th>Time Period</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <font size="5" color="#209e91"><i class="fa fa-product-hunt"></i></font>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    <h3>Project Title</h3>
                                                </a>
                                                <p>Description Description Description Description </p>
                                            </td>
                                            <td>
                                                <div class="profile_img">
                                                    <span style="background:url(assets/images/1.jpg) no-repeat center"> </span>
                                                    <div class="user-name">
                                                        <p>Kanchana<span>Web Developer</span></p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>35 USD</td>
                                            <td>
                                                <!--<ngb-rating  max="5" class="rating">
                                                    <ng-template let-fill="fill">
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star-outline"></i>
                                                    </ng-template>
                                                </ngb-rating>-->
                                            </td>
                                            <td>08/08/2015 to 12/12/2015</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </ba-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>