<div class="container">
    <div class="row">
        

        <div class="col-sm-12">
            <div class="col-sm-12">
                    <div class="alert alert-danger">
                            <p><strong>*</strong>   If you get funds from your PayPal account, it can take 2 to 3 minutes to be processed. <strong>Please refresh you borwer and check.</strong>  If the wrong email address is used, the funds go unclaimed and will be returned to the sender after 15 days.  If your account is not verified, PayPal can hold the funds up to 21 days. 
 
                            </p>
                        </div>
                <ba-card cardTitle="Wallet" baCardClass="with-scroll table-panel">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Asset</th>
                            <th>Available Balance</th>
                            <th>Locked Amount</th>
                            <th>Fund Account</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let asset of assets">
                            <td>
                                <br><font size="5" color="#209e91"><i class="fa fa-money"></i></font>
                            </td>
                            <td>
                                <br>
                                <h3>{{asset.asset_name}}</h3>
                            </td>
                            <td>
                                <br>
                                <div style="font-size: 18px">{{asset.available_balance}}</div>
                            </td>
                            <td>
                                <br>
                                <div style="font-size: 18px">{{asset.locked_amount}}</div>
                            </td>
                            <td>
                                <br>
                                <input class="form-control" name="{{asset.asset_name}}_amount"
                                       id="{{asset.asset_name}}_amount" type="number"
                                       [(ngModel)]="asset.requested_amount" placeholder="100.0"><br>
                            </td>
                            <td>
                                <br>
                                <button type="button" class="btn btn-primary  btn-sm"
                                        (click)="paymentModalShow()">Get Fund</button>
                            </td>
                            <td>
                                <br>
                                <button type="button" class="btn btn-danger  btn-sm"
                                        (click)="transferModalShow()">Transfer Fund</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </ba-card>
            </div>
        </div>
    </div>
</div>