<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <ba-card cardTitle="{{project?.projectName}}" baCardClass="with-scroll table-panel">
                <div>
                    <button class="btn btn-info btn-md" style="cursor:default;">{{bids?.length}} Bids</button>
                    <button class="btn btn-success btn-md" style="cursor:default;">AVG BID - {{bidsum/bids?.length}}{{project?.budget?.type}}</button>
                    <button class="btn btn-default btn-md" style="cursor:default;">
                            BUDGET - From {{project?.budget?.min}} to {{project?.budget?.max}} {{project?.budget?.type}}
                    </button>
                    <br><br><br>
                    <div *ngIf="project?.files[0]">
                        <h4>Additional Files: </h4>
                        <div *ngFor="let file of project?.files">
                            <a class="text-primary" style="cursor:pointer" (click)="downloadURI(file.data,file.name)" target="_blank">
                                <h5><i class="fa fa-file-o"></i> {{file.name}} </h5>
                            </a>
                        </div>
                    </div>
                    <div>
                <ba-card cardTitle="Current Bids" baCardClass="with-scroll table-panel">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>User</th>
                                <th>Amount</th>
                                <th>Delivery Time</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bid of bids">
                                <td>
                                    <br>
                                    <font size="5" color="#209e91"><i class="fa fa-product-hunt"></i></font>
                                </td>
                                <td><br><a style="cursor:pointer" (click)="goToUser(bid.user_id)">
                                        <h3>{{bid.user_name}}</h3>
                                    </a>
                                <p>{{bid.user_email}}</p>
                                </td>
                                <td><br>{{bid.bid_amount}}
                                </td>
                                <td><br>{{bid.deliver_time}}
                                </td>
                                <td>
                                    <br><button (click)="contact_fumction(bid.user_id)" type="button" class="btn btn-primary  btn-sm">Contact</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ba-card>
            </div>
                    <br><br>
                    <div *ngIf="project?.skills">
                        <h4>Required Skills: </h4>
                        <button *ngFor="let skill of project.skills" type="button" class="btn btn-default btn-md" style="background-color: #776e6e;color: #ffffff;cursor:default;">{{skill}}</button>
                    </div>
                    <br><br>
                </div>

                
            </ba-card>
        </div>
    </div>
</div>