 <div class="outter-wp">
  <div class="container">
    <div class="row">

        <div class="col-sm-12">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#discussions">Discussions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#add_new">Add New</a>
                </li>
               
            </ul>
            <br>
            <div class="tab-content">
                <div id="discussions" class="tab-pane active">
                    <div class="col-sm-12">
                        <ba-card cardTitle="Discussions" baCardClass="with-scroll table-panel">
                            <div>
                            <div *ngFor="let discussion of discussions">
                               <div class="questions" >
                            <h5>{{discussion.title}}</h5>
                                <p>{{discussion.question}}</p>
                                <a href="#answer" style="float: right;"> Reply</a>
                              </div>
                            </div>
                            </div>

                        </ba-card>
                    </div>
                </div>
                <div id="add_new" class="tab-pane fade">
                    <div class="col-sm-12">
                        <form>
    <div class="form-group">
      <input class="form-control" [(ngModel)]="discussion.title" [ngModelOptions]="{standalone: true}" name="title" type="text" placeholder="Title">
    </div>
       
      <div class="form-group">
          <textarea class="form-control" [(ngModel)]="discussion.question" [ngModelOptions]="{standalone: true}" rows="20" name="description" id="description" placeholder="Description"></textarea>
      </div>
      
       <div class="form-group">
              <div class="col-sm-offset-2 col-sm-9">
                  <button class="btn btn-primary btn-lg" (click)="save()">Post Question</button>
              </div>
       </div>
    </form>
                    </div>
                </div>


               
            </div>
        </div>
    </div>
</div>                              <!--sub-heard-part-->
                                  

  