<div class="container">
  <div class="row">

    <div class="col-sm-12">

      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#active_contracts">Active Contracts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#completed_contracts">Completed Contracts</a>
            </li>

        </ul>

      <div class="tab-content">
        <div id="active_contracts" class="tab-pane active">
          <br>
          <div class="panel panel-info" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
            <div class="panel-heading">
              <h2 class="col-sm-5">Contract</h2>
              <h2 class="col-sm-2">Total Amount</h2>
              <h2 class="col-sm-2">Paid Amount</h2>
              <h2 class="col-sm-3">Status</h2>
              <div class="panel-ctrls" data-actions-container=""
                   data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span
                class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
            </div>
            <div class="panel-body no-padding" style="display: block;">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td class="col-sm-5">
                    <a href="#">
                      <h3 class="text-primary"><i class="lnr lnr-enter"></i> Project Title</h3>
                    </a>
                    <h4 class="text-primary"> Developer Contract</h4>
                    <p>Description Description Description Description </p>
                  </td>
                  <td class="col-sm-2">25 USD</td>
                  <td class="col-sm-2">5 USD</td>
                  <td class="col-sm-3">
                    <div class="progress progress-striped active">
                      <div class="bar yellow" style="width:20%;"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="col-sm-5">
                    <a href="#">
                      <h3 class="text-primary"><i class="lnr lnr-enter"></i> Project Title</h3>
                    </a>
                    <h4 class="text-primary"> QA Contract</h4>
                    <p>Description Description Description Description </p>
                  </td>
                  <td class="col-sm-2">25 USD</td>
                  <td class="col-sm-2">14 USD</td>
                  <td class="col-sm-3">
                    <div class="progress progress-striped active">
                      <div class="bar blue" style="width:60%;"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="col-sm-5">
                    <a href="#">
                      <h3 class="text-primary"><i class="lnr lnr-enter"></i> Project Title</h3>
                    </a>
                    <h4 class="text-primary"> Consultant Contract</h4>
                    <p>Description Description Description Description </p>
                  </td>
                  <td class="col-sm-2">25 USD</td>
                  <td class="col-sm-2">21 USD</td>
                  <td class="col-sm-3">
                    <div class="progress progress-striped active">
                      <div class="bar green" style="width:90%;"></div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="completed_contracts" class="tab-pane fade">
          <br>
          <div class="panel panel-info" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
            <div class="panel-heading">
              <h2 class="col-sm-5">Contract</h2>
              <h2 class="col-sm-2">Client/Freelancer</h2>
              <h2 class="col-sm-2">Payment</h2>
              <h2 class="col-sm-3">Time Period</h2>
              <div class="panel-ctrls" data-actions-container=""
                   data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span
                class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
            </div>
            <div class="panel-body no-padding" style="display: block;">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td class="col-sm-5">
                    <a href="#">
                      <h3 class="text-primary"><i class="lnr lnr-enter"></i> Project Title</h3>
                    </a>
                    <h4 class="text-primary"> Consultant Contract</h4>
                    <p>Description Description Description Description </p>
                  </td>
                  <td class="col-sm-2">
                    <div class="profile_img">
                      <span style="background:url(assets/images/female_avatar.jpg) no-repeat center"> </span>
                      <div class="user-name">
                        <p>Nayomi<span>Web Developer</span></p>
                      </div>
                    </div>
                  </td>
                  <td class="col-sm-2">70 UDS</td>
                  <td class="col-sm-3">01/20/2017 to 03/20/2017</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
