<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <section class="cards-section text-center">
                <div class="container">
                    <div id="cards-wrapper1" class="cards-wrapper row">
                        <div class="item item-green col-md-4 col-sm-6 col-xs-6" (click)="goToProjects()" role="button">
                            <div class="item-inner">
                                <div class="icon-holder">
                                    <i class="icon fa fa-globe"></i>
                                </div><!--//icon-holder-->
                                <h3 class="title">Projects</h3>
                                <p *ngIf="usertype=='Client'" class="intro">Work. All your recent posted projects.</p>
                                <a *ngIf="usertype=='Client'" class="link"><span></span></a>
                                <p *ngIf="usertype=='Consultant' || usertype=='Freelancer' || usertype=='QA'" class="intro">Work. All the projects available to you.</p>
                                <a *ngIf="usertype=='Consultant' || usertype=='Freelancer' || usertype=='QA'" class="link"><span></span></a>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <div class="item item-red col-md-4 col-sm-6 col-xs-6" (click)="goToContracts()" role="button">
                            <div class="item-inner">
                                <div class="icon-holder">
                                    <i class="icon fa fa-file-text"></i>
                                </div><!--//icon-holder-->
                                <h3 class="title">Contracts</h3>
                                <p class="intro">Your contracts. All your active & inactive contracts.</p>
                                <a class="link"><span></span></a>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <div class="item item-blue col-md-4 col-sm-6 col-xs-6" (click)="goToWallet()" role="button">
                            <div class="item-inner">
                                <div class="icon-holder">
                                    <i class="icon fa fa-google-wallet"></i>
                                </div><!--//icon-holder-->
                                <h3 class="title">Wallet</h3>
                                <p class="intro">You can find all your transactions here.</p>
                                <a class="link"><span></span></a>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                    </div><!--//cards-->
                </div><!--//container-->
                <br>
                <div class="container">
                    <div id="cards-wrapper2" class="cards-wrapper row">
                        <div class="item item-pink col-md-4 col-sm-6 col-xs-6">
                            <div class="item-inner">
                                <div class="icon-holder">
                                    <i class="icon fa fa-paper-plane"></i>
                                </div><!--//icon-holder-->
                                <h3 class="title">Quick Start</h3>
                                <p class="intro">Demo example, how it works, Documentation</p>
                                <a class="link" routerLink="/documentation"><span></span></a>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <div class="item item-primary col-md-4 col-sm-6 col-xs-6">
                            <div class="item-inner">
                                <div class="icon-holder">
                                    <i class="icon fa fa-group"></i>
                                </div><!--//icon-holder-->
                                <h3 class="title">FAQ</h3>
                                <p class="intro">FQA page. Detail about Blockwork team. </p>
                                <a class="link" routerLink="/documentation"><span></span></a>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <div class="item item-orange col-md-4 col-sm-6 col-xs-6">
                            <div class="item-inner">
                                <div class="icon-holder">
                                    <i class="icon fa fa-puzzle-piece"></i>
                                </div><!--//icon-holder-->
                                <h3 class="title">Features</h3>
                                <p class="intro">Solutions for traditional freelencing problems</p>
                                <a class="link" routerLink="/documentation"><span></span></a>
                            </div><!--//item-inner-->
                        </div><!--//item-->


                    </div><!--//cards-->

                </div><!--//container-->
            </section><!--//cards-section-->
            <br><br>

            <!-- <div class="col-sm-12">
                <ba-card cardTitle="Recent Projects" baCardClass="with-scroll table-panel">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Project</th>
                                <th>Status</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projects">
                                <td>
                                    <br>
                                    <font size="5" color="#209e91"><i class="fa fa-product-hunt"></i></font>
                                </td>
                                <td>
                                    <br>
                                    <a style="cursor:pointer" (click)="goToProject(project.project_id)">
                                        <h3>{{project.projectName}}</h3>
                                    </a>
                                    <p>{{project.description}} </p>
                                    <a *ngIf="project.skills">
                                        <button *ngFor="let skill of project.skills" type="button" class="btn btn-default btn-sm"
                                         style="background-color: #776e6e;color: #ffffff;cursor:default;">{{skill}}</button>
                                    </a>
                                </td>
                                <td>
                                    <br>Open
                                </td>
                                <td><br>{{project.budget.min}}-{{project.budget.max}} {{project.budget.type}}</td>
                                <td>
                                    <br><button type="button" class="btn btn-primary  btn-sm">Bid Now</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ba-card>
            </div> -->

        </div>
    </div>
</div>
