<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="input-group">
                    <input type="text" class="form-control with-primary-addon" placeholder="Search for..." [(ngModel)]="query" [ngModelOptions]="{standalone: true}"
                        (keyup)=searchByName()>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" (click)="searchByName();" type="button">Go!</button>
                    </span>
                </div>

                <a *ngIf="!custom_search" (click)="custom_search=true" class="btn btn-sm btn-default pull-right"> More Search Options <span class="lnr lnr-chevron-down"></span></a>

                <a *ngIf="custom_search" (click)="custom_search=false" class="btn btn-sm btn-default pull-right"> Less Search Options <span class="lnr lnr-chevron-up"></span></a>
                <br>

                <div *ngIf="custom_search">
                    <br><label class="text-primary"><h5>Find Projects based on skills: </h5></label>
                    <tag-input style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;" class="form-control" [ngModel]="skills"
                        [ngModelOptions]="{standalone: true}" [secondaryPlaceholder]="'Type here to find skills'" [onlyFromAutocomplete]="true"
                        (onAdd)="onItemAdded($event)" (onRemove)="onItemRemoved($event)" theme='bootstrap-default'>
                        <tag-input-dropdown [appendToBody]="false" [autocompleteItems]="skill_items">
                        </tag-input-dropdown>
                    </tag-input>
                    <!-- <div class="form-group">
                        <label class="col-sm-12">Location</label>
                        <input class="form-control form-control-rounded" name="skills" id="skills" placeholder="Enter location">
                    </div> -->
                    <br>
                    <br>

                </div>
            </form>

            <br><br>

            <div class="col-sm-12">
                <ba-card cardTitle="My Projects" baCardClass="with-scroll table-panel">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Project</th>
                                <th>Status</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projects">
                                <td>
                                    <br>
                                    <font size="5" color="#209e91"><i class="fa fa-product-hunt"></i></font>
                                </td>
                                <td>
                                    <br>
                                    <a style="cursor:pointer" (click)="goToProject(project.project_id)">
                                        <h3>{{project.projectName}}</h3>
                                    </a>
                                    <p>{{project.description}} </p>
                                    <a *ngIf="project.skills">
                                        <button *ngFor="let skill of project.skills" type="button" class="btn btn-default btn-sm"
                                         style="background-color: #776e6e;color: #ffffff;cursor:default;">{{skill}}</button>
                                    </a>
                                </td>
                                <td>
                                    <br>Open
                                </td>
                                <td><br>{{project.budget.min}}-{{project.budget.max}} {{project.budget.type}}</td>
                                <td>
                                    <br><button (click)="bidModalShow(project.project_id)" type="button" class="btn btn-primary  btn-sm">Bid Now</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ba-card>
                <!-- Modal1 -->
                <div class="modal fade" id="modal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header"></div>
                            <div class="modal-body">
                                <h4 class="text-center">Already Bidded</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>